:root {
    --main-color: #CDC8B0;
    /* var(--main-color) */
    --second-color: #DAD4BB;
    /* var(--second-color)*/
    --third-color: #B4AF9A;
    /* var(--third-color)*/
    --fourth-color: #4E4B42;
    /*var(--fourth-color)*/
}

* {
    font-family: Merriweather;
}

body {
    background: var(--main-color);
    margin: 0;
    max-width: 100%;
}

header,
footer {
    background: var(--second-color);
}

#Apropos,
#Project,
#Experience {
    margin-top: 5rem;
    margin-left: 12rem;
    margin-bottom: 10rem;
}

#code {
    margin-top: 5rem;
}

img {
    width: 84px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    margin-left: 5rem;
    font-size: 3rem;
    font-style: italic;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1.5rem;
}

.header-nav_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
}

li a {
    margin-right: 5rem;
    padding: 2.6rem;
    box-sizing: border-box;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 10px;
    border-right-width: 0;
    border-color: var(--fourth-color);
    background: var(--third-color);
    color: var(--fourth-color);
    font-size: 2rem;
}

li a:hover {
    background: var(--fourth-color);
    color: var(--third-color);
}

.Apropos-div {
    display: flex;
    flex-direction: column;
}

.Apropos-div p,
h3 {
    color: var(--fourth-color);
    margin-left: 5rem;
}

.Apropos-content_div {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    box-shadow: 5px 2.5px 5px var(--fourth-color);
    background: var(--second-color);
    width: 50%;
    height: 15rem;
}

.Apropos-content_div p,
h3 {
    color: var(--fourth-color);
    margin: 1.5rem 0rem 1rem 1.5rem;
}

.Apropos-line {
    border-right: thick solid;
    border-color: var(--third-color);
    margin-right: 2rem;
}

.Project-title_div h2 {
    text-align: center;
}

.gallery-project_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-div {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    background: var(--second-color);
    width: 30%;
    height: 35rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

.project-title_div {
    background: var(--fourth-color);
}

.project-title_div p {
    margin-top: 0;
    margin-left: 2rem;
    color: var(--third-color);
    padding: 0.5rem;
}

.project-content_div {
    width: 80%;
    margin: 0.5rem 0rem 0.5rem 3rem;
}

.project-content_div p {
    font-size: 1.25rem;
}

.project-content_div hr {
    margin-top: 1.25rem;
}

.project-content_div a {
    color: var(--fourth-color);
    font-weight: bold;
}

.project-picture_div {
    width: 90%;
    height: 10rem;
    padding-left: 1rem;
}

.project-picture_div img {
    object-fit: fill;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.project-text_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Language-div {
    background: var(--second-color);
}

.Language-div h2 {
    margin-left: 12rem;
    padding-top: 5rem;
}

.Language-img_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5rem 5rem 7rem 10rem;
    padding-bottom: 5rem;
}

.Language-img_div p {
    font-style: bold;
    font-weight: 700;
}

.Language-img_div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-radius: 25px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    width: 15%;
}

.Language-img_div div:hover {
    background: var(--third-color);
}

.Experience-div ul {
    flex-direction: column;
    width: 40%;
}

.Experience-div ul li {
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 25px;
    border-color: var(--fourth-color);
    background: var(--third-color);
    color: var(--fourth-color);
}

.Footer-div {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1490px) {
    li a {
        margin-right: 0.5rem;
    }
}

@media (max-width: 1024px) {
    h1 {
        margin-left: 0;
    }

    .header-nav_div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    ul {
        padding-left: 0.5rem;
    }

    li a {
        margin-right: 0.25rem;
        padding: 1rem;
        border-left-width: 5px;
    }

    #Apropos,
    #Project,
    #Experience {
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-bottom: 3.5rem;
    }

    .Apropos-div {
        margin-left: 1rem;
    }

    .Apropos-content_div {
        width: 87%;
        height: 15rem;
    }

    .gallery-project_div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;
    }

    .project-div {
        width: 50%;
        margin-right: 0;
    }

    .project-content_div {
        margin-left: 2.5rem;
    }

    .Language-div h2 {
        margin-left: 0;
        text-align: center;
    }

    .Language-img_div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
    }

    .Language-img_div div {
        width: 50%;
    }

    .Experience-div ul {
        width: 87%;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .Experience-div ul li {
        font-size: 1.4rem;
        margin: 1.5rem 0rem
    }
}

@media (max-width: 425px) {
    h1 {
        margin: 0rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .header-nav_div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    li a {
        font-size: 1.25rem;
        margin-top: 0rem;
        padding: 0.5rem;
    }

    #Apropos,
    #Project,
    #Experience {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 3.5rem;
    }

    .Apropos-div {
        margin-left: 0.5rem;
    }

    .Apropos-content_div {
        width: 87%;
        height: 15rem;
    }

    .gallery-project_div {
        flex-direction: column;
        margin-left: 0.5rem;
    }

    .project-div {
        width: 87%;
    }

    .project-content_div {
        margin-left: 1.75rem;
    }

    .project-content_div p {
        font-size: 1rem;
    }

    .Language-div h2 {
        margin-left: 0;
        text-align: center;
    }

    .Language-img_div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
    }

    .Language-img_div div {
        width: 50%;
    }

    .Experience-div ul {
        width: 87%;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .Experience-div ul li {
        font-size: 1.4rem;
        margin: 1.5rem 0rem
    }
}